/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format('woff');
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Media
-------------------------------------------------- */
img {
	max-width: 100%;
	height: auto;
	border: none;
	display: inline-block;
}


/* Links
-------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: #0EAE03;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 1.5em 0;
  max-width: 50em;
  background-color: #e5e5e5;
  color: #222;
}

@media screen and (min-width: 40em) {
  body {
    padding: 2em 0;
  }
}


/* Header
-------------------------------------------------- */
.header {
  border-bottom: 2px solid #0EAE03;
  padding: 0 1.5em 1.5em;
}
.logo {
  display: block;
  margin-bottom: 1.5em;
}
.logo img {
  width: 2em;
}

@media screen and (min-width: 40em) {
  .header {
    padding: 0 2em;
  }
  .logo {
    float: left;
  }
}


/* Navigation
-------------------------------------------------- */
.menu a {
  display: block;
  color: #222;
}
.menu a:hover {
  color: #0EAE03;
  text-decoration: none;
}
.menu .active {
  color: #0EAE03;
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .35em 0;
  border-top: 1px solid #bbb;
  font-weight: 600;
}
.menu > li > a > span {
  background-color: #000;
  color: #fff;
  margin-left: .5em;
  padding: .2em .4em .3em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: .8em;
}

@media screen and (min-width: 40em) {
  .menu {
    float: right;
    margin-right: -1em;
  }
  .menu > li {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    border: 0;
  }
}


/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: .5em;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: .5em;
  color: #0EAE03;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: #0EAE03;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}



/* Main
-------------------------------------------------- */
.main {
  background-color: #fff;
  padding: 1.5em;
  border-bottom: 2px solid #0EAE03;
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}
.main a {
  border-bottom: 2px solid #ddd;
}
.main a:hover {
  border-color: #222;
}
.text figcaption {
	margin-top: .25em;
	font-size: 0.8em;
	color: #0EAE03;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

@media screen and (min-width: 40em) {
  .main {
    padding: 2em;
  }
}


/* Buttons
-------------------------------------------------- */
[class*='btn'], a[class*='btn'] {
  display: inline-block;
  padding: .5em 1em;
  line-height: 1;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
  border-color: #222;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: transparent;
  color: #222;
  cursor: pointer;
  transition: background-color .1s, color .1s, border-color .1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
[class*='btn']::-moz-focus-inner {
  border: 0;
  padding: 0;
}
[class*='btn']:hover,
[class*='btn']:focus {
  background-color: #222;
  color: #fff;
}

/* red buttons */
[class*='btn-red'], a[class*='btn-red'] {
  border-color: red !important;
  color: red;
}
[class*='btn-red']:hover,
[class*='btn-red']:focus {
  background-color: red;
  color: #fff;
}

/* white buttons */
[class*='btn-white'], a[class*='btn-white'] {
  border-color: white;
  color: white;
}
[class*='btn-white']:hover,
[class*='btn-white']:focus {
  background-color: white;
  color: #222;
}

/* PayPal buttons */
.text button[class*='btn-paypal'] {
  color: #357ebd;
  border-color: #357ebd;
}
.text button[class*='btn-paypal']:hover,
.text button[class*='btn-paypal']:focus {
  color: white;
  background-color: #357ebd;
  border-color: #357ebd;
}

/* buttons disabled */
button[class*='btn-disabled'] {
  color: #999;
  border-color: #999;
  cursor: not-allowed;
}
button[class*='btn-disabled']:hover,
button[class*='btn-disabled']:focus {
  color: #999;
  border-color: #999;
  background-color: white;
}

/* buttons within .text */
.text [class*='btn'] {
  border-color: #222;
}


/* Tables
-------------------------------------------------- */
.text table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
  border: 1px solid #ddd;
}
.text th, .text td {
  text-align: left;
  padding: .5em 1em;
  vertical-align: top;
}
.text th {
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.text table p, .text table a {
  margin-bottom: 0;
}
.text table a {
  display: inline-block;
}
.text td {
  border-bottom: 1px solid #ddd;
}
.text tbody {
  background: #f5f5f5;
}


/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: #0EAE03;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
  margin-bottom: -1.5em !important;
}
.teaser li {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1.5em;
  padding: 1em;
  list-style: none;
}
.teaser li img {
  margin-bottom: .5em;
}
.teaser li h4 {
  margin-bottom: 0;
}
.teaser li [class*='btn'] {
  float: right;
}

@media screen and (min-width: 40em) {
  .teaser li {
    float: left;
    width: 47.5%;
    margin-right: 5%;
  }
  .teaser li:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .teaser li {
    float: left;
    width: 30%;
    margin-right: 5% !important;
    margin-bottom: 2em;
  }
  .teaser li:nth-child(3n+3) {
    margin-right: 0 !important;
  }
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  color: #555;
  padding: 1em 1.5em 2em;
}
.footer p {
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: red;
  padding-left: .25em;
}


/* Home page
-------------------------------------------------- */
#home {
  
}


/* Cart bags
-------------------------------------------------- */
.bags {
  background-color: #222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2.5em;
  padding: 1.5em;
  text-align: center;
}
.bags a[class*='btn-white']:hover {
  border-color: white;
  color: #222;
}

@media screen and (min-width: 40em) {
  .bags p {
    line-height: 1.8em;
    margin: 0;
    float: left;
  }
  .bags .btn-white {
    float: right;
  }
}


/* Cart page
-------------------------------------------------- */
#cart {
  
}


/* Error, Empty and Paid page
-------------------------------------------------- */
main.black {
  background-color: #222;
  color: #fff;
  padding: 5em 0;
  text-align: center;
}
main.black .text a[class*='btn-white'] {
  border-color: white;
  color: white;
}
main.black .text a[class*='btn-white']:hover {
  border-color: white;
  color: #222;
}
main.black form [class*='btn'],
main.black form a[class*='btn'] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
main.black .text p:last-of-type {
	margin-bottom: 0;
}