/* Home page - products
-------------------------------------------------- */
.teaser {
	list-style: none;
	margin-bottom: -1.5em !important;
}
.teaser li {
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 1.5em;
	padding: 1em;
	list-style: none;
	box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
}
.teaser li img {
	margin: 0 auto .5em;
	display: block;
}
.teaser li h4.price {
	color: #0EAE03;
	margin-bottom: 0;
}
.teaser li [class*='btn'] {
	float: right;
}

@media screen and (min-width: 40em) {
	.teaser li h5.title {
		width: 13.5em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.teaser li {
		float: left;
		width: 47.5%;
		margin-right: 5%;
	}
	.teaser li:nth-child(even) {
		margin-right: 0;
	}
}

@media screen and (min-width: 60em) {
	.teaser li h5.title {
		width: 8.8em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.teaser li {
		float: left;
		width: 21.25%;
		margin-right: 5% !important;
		margin-bottom: 2em;
	}
	.teaser li:nth-child(4n+4) {
		margin-right: 0 !important;
	}
}