.tgl {
  display: none;
}

.tgl,
.tgl *,
.tgl :after,
.tgl :before,
.tgl+.tgl-btn,
.tgl:after,
.tgl:before {
  box-sizing: border-box;
}

.tgl ::selection,
.tgl :after::selection,
.tgl :before::selection,
.tgl+.tgl-btn::selection,
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection {
  background: 0 0;
}

.tgl + .tgl-btn {
  outline: 0;
  display: inline-block;
  width: 3em;
  height: 1.5em;
  margin-right: 1em;
  position: relative;
  cursor: pointer;
  vertical-align: bottom;
  -ms-user-select: none;
  user-select: none;

  background: #efefef;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl:checked + .tgl-btn {
  background: #8dae28;
}

.tgl:not(:checked) ~ .tgl-text-on {
  display: none;
}

.tgl:checked ~ .tgl-text-off {
  display: none;
}
